.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 8.5vh;
    z-index: 999;
    background-color: #1A1A1A;
}

.navItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 40%;
    justify-content: space-evenly;
}

.logo{
    margin-top: 10px;
}

